*.o
*.elf
*.map
*.hex
*~
*.d
Release
Debug
/STM32L412-Debug/
/STM32L412-Release/
/STM32L432-Debug/
/STM32L432-Release/
/STM32L422-Debug/
/STM32L422-Release/
.settings/language.settings.xml
/STM32L422-Release/
/STM32L422-Debug/
/STM32L431-Release/
/STM32L431-Debug/
/L422-LegacyBreakouts*
/L422-NewBreakouts*
/L432-LegacyBreakouts*
/L432-NewBreakouts*
/L422-Board11.0-NewBreakouts-Bootloader/
/L422-Board11.0-LegacyBreakouts/
/L422-Board11.0-LegacyBreakouts-Bootloader/
/L412-NewBreakouts-Bootloader/
/L431-NewBreakouts-Bootloader/
/L412-NewBreakouts/
