*.o
*.elf
*.bin
*.map
*.hex
*~
*.d

Release
Debug
.settings/language.settings.xml


/STM32L412-Release/
/STM32L422-Release/
/STM32L431-Release/
/STM32L431-Debug/
/Board1.3-L431/
/Board1.3-L422/
/Board2.0-L422/
/Board6.0-L432/
/Board7.0-L432/
/Board2.0-L432/
/Board7.0-L422/
